@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-4 text-center;
}

/* Removes transforms during PDF export */
.pdf-export {
  transform: none !important;
}
@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }
}
